In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [2]:
s

'this is My First Python programming class and i am learNING python string and its function'

1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .

In [3]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [4]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [5]:
s.isuppercase()

AttributeError: 'str' object has no attribute 'isuppercase'

In [6]:
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [7]:
s.split()

['this',
 'is',
 'My',
 'First',
 'Python',
 'programming',
 'class',
 'and',
 'i',
 'am',
 'learNING',
 'python',
 'string',
 'and',
 'its',
 'function']

In [8]:
s = s.upper()

In [9]:
s

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [10]:
split(s)

NameError: name 'split' is not defined

In [11]:
s.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [12]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [13]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [14]:
s.isalnum()

False

In [16]:
s.isalpha()

False

The difference between 'isalnum() and isalpha()' is that isalnum() return True or False if the string value
has both the integer and string values and there is no space in between where isalpha() return true if the value
is only in alphabets with no spaces.

In [29]:
t = 'tanjiro \thas \tthe \tkindest \tpersonality'

In [30]:
t

'tanjiro \thas \tthe \tkindest \tpersonality'

In [31]:
t.expandtabs()

'tanjiro         has     the     kindest         personality'

In [32]:
t.strip()

'tanjiro \thas \tthe \tkindest \tpersonality'

In [35]:
z = '  zeinitsu is sleepy  '

In [36]:
z

'zeinitsu is sleepy'

In [37]:
z.strip()

'zeinitsu is sleepy'

Strip functions removes the spaces that are on the left and right side of the string

In [40]:
z = '  zeinitsu   '

In [41]:
z.lstrip()

'zeinitsu   '

lstrip removes the spaces that are on the left side of the string

In [43]:
z.rstrip()

'  zeinitsu'

In [ ]:
rstrip removes the spaces on the right side of the string

In [44]:
p = 'prince'

In [45]:
p

'prince'

In [46]:
p.replace(i,p,-1)

NameError: name 'i' is not defined

In [47]:
p.replace('i','p',-1)

'prpnce'

In [48]:
p.center(20,'T')

'TTTTTTTprinceTTTTTTT'

center adjust the string in middle according to he value that we input in the function and replace the remaining spaces with the letter that we input

Interpreter and compiler both converts high level language which is known as source code into machine code which can be understood by the computer. Interpreter can compile one statement at a time whereas compiler can compile whole programmes. Interpreter takes less memory while compiler take more memory.

python falls into category of interpretor because it translates one statement at a time and it does not generate object code which saves memory.

Python is used in data science to get,process and manipulate data to through various python libraries such as Pandas and Scipy