In [2]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

Q1

In [ ]:
z = 4
for i in range(z) :
    for x in range(0 ,i+1) :
        print('ineuron', end = " ")
    print('\n')

In [ ]:
n = 4
for i in range(n) :
    for j in range(n-i-1) :
        print(end = " ")
    for j in range(i+1) :
        print('*', end = " ")
    print()

In [ ]:
n = 4
for i in range(n) :
    for j in range(n-i-1) :
        print(end = " ")
    for j in range(i+1) :
        print("*", end = " ")
    print()

In [ ]:
n = 3
for i in range(n) :
    for j in range(n-i-1) :
        print(" "*len("ineuron"), end = " ")
    for j in range(i+1) :
        print("ineuron"," "*len("ineuron"), end = " ")
    print()

for i in range(n) :
    for j in range(i+1) :
        print(" "*len("ineuron"), end = " ")
    for j in range(n-i-1) :
        print("ineuron"," "*len("ineuron"), end = " ")
    print()

In [ ]:
n = 3
for i in range(n) :
    for j in range(n-i-1) :
        print(" "*len("potlu"),end = " ")
    for j in range(i+1) :
        print("potlu"," "*len("potlu"), end = " ")
    print()
    
for i in range(n) :
    for j in range(i+1) :
        print(" "*len("potlu"), end = " ")
    for j in range(n-i-1) :
        print("potlu"," "*len("potlu") ,end = " ")
    print()

we use end so that the output does not go into the next line

In [ ]:
n = 5
for i in range(n) :
    for j in range(n-i-1) :
        print(end = " ")
    for j in range(i+1) :
        print("*",end = " ")
    print()
for i  in range(n) :
    for j in range(i+1) :
        print(end = " ")
    for j in range(n-i-1) :
        print("*", end = " ")
    print()

Q3. Try to extract all the list entity

In [5]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [ ]:
for i in l :
    if type(i) == list :
        print(i)

Q.4 Try to extract all the dict enteties

In [3]:
for i in l :
    if type(i) == dict :
        print(i)

NameError: name 'l' is not defined

Q.5 Try to extract all the tuples entities

In [ ]:
for i in l :
    if type(i) == tuple :
        print(i)

Q.6 Try to extract all the numerical data it may be a part of dict key and values

In [ ]:
for i in l :
    if type(i) == tuple or type(i) == list or set == int :
        for j in i :
            if j == int :
                print(j)
    if type(i) == dict :
        for k,v in i.items() :
            if k == int or v == int :
                print(k)
                print(v)

In [ ]:
numeric_list = []
for i in l:
    for j in i:
        if type(j) == int:
            numeric_list.append(j)
    if type(i) == dict:
        for k in i.values():
            if type(k) == int:
                numeric_list.append(k)
print(numeric_list)

In [ ]:
numeric_list = []
for i in l :
    for j in i :
        if type(j) == int :
            numeric_list.append(j)
    if type(i) == dict :
        for k in i.values() :
            if type(k) == int :
                numeric_list.append(k)
print(numeric_list)

Q.7 Try to give summation of all the numeric data

In [ ]:
sum(numeric_list)

Q.8 Try to filter out all the odd values out all numeric data which is a part of a list

In [ ]:
for i in numeric_list :
    if i % 2 != 0 :
        print(i, end = " ")

Q.9 Try to extract "ineuron" out of this data

In [ ]:
for i in l :
    if type(i) == list or  type(i) == set or  type(i) == tuple :
        for j in i :
            if j == "ineuron" :
                print(j)
    if type(i) == dict :
        for k,v in i.items() :
            if k == "ineuron" or v == "ineuron" :
                
                print(v)

Q.10 Try to find out a number of occurances of all the data

In [ ]:
l

In [ ]:

for i in l :
    if type(i) == tuple  or type(i) == list or type(i) == set  :
        for j in i :
            print(j, ":", l.count(i))
    if type(i) == dict :
        for k,v in i.items() :
            print(k, ":", l.count(i))
            print(v, ":", l.count(i))

Q.11 Try to find out number of keys in dict element

In [ ]:
for i in l :
    if type(i) == dict :
        for j in i :
            print(j, ":", l.count(i))

Q.12 Try to filter out all the string data

In [ ]:
for i in l :
    if type(i) == str :
        for j in i :
            print(i)

Q.13 : Try to Find  out alphanum in data

In [ ]:
alnumlist2 = []
for i in l :
    for j in i :
        if str(j).isalnum() :
            alnumlist2.append(j)
print(alnumlist2)

Q.14 Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [6]:
product = 1
for i in l :
    for j in i :
        if type(j) == int :
            product = product * j
            
    print(product)

24
17280
43545600
901393920000
18929272320000
18929272320000

Q.15 Try to unwrape all the collection inside collection and create a flat list

In [20]:
flatlist = []
for i in l :
    for j in i :
        if type(i) == list or type(i) == set or type(i) == tuple :    
            flatlist.append(j)
    if type(i) == dict :
        for k,v in i.items() :
            flatlist.append(k)
            flatlist.append(v)
print(flatlist)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']